body {
    font-family: Arial;
    background:#2b2d31;
    color:white;
    margin:0;
    padding:0;
}

#loginScreen {
    position:fixed;
    inset:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:#2b2d31;
}

#loginScreen input {
    padding:10px;
    margin:10px;
    width:200px;
}

#messagesContainer {
    height:60vh;
    overflow-y:auto;
    padding:10px;
    border:1px solid #444;
    margin:10px;
}

.message {
    padding:8px;
    border-bottom:1px solid #444;
}

.time {
    font-size:11px;
    margin-left:8px;
    color:gray;
}

.message-input {
    display:flex;
    padding:10px;
}

.message-input input {
    flex:1;
    padding:10px;
}
