body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #f0f2f5;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen input {
    margin: 5px 0;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.screen button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.screen p span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

.messages {
    height: 70vh;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: white;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
}

.message {
    margin-bottom: 10px;
}

.message-user {
    font-weight: bold;
    font-size: 12px;
    color: #555;
}

.message-text {
    background-color: #e4e6eb;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 2px;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-color: #f0f2f5;
}

.chat-input input {
    width: 70%;
}

.chat-input button {
    width: 20%;
    margin-left: 10px;
}
