body{
    font-family: Arial;
    background:#2b2d31;
    color:white;
    margin:0;
}

#loginScreen{
    position:fixed;
    inset:0;
    background:#2b2d31;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#loginScreen input{
    padding:10px;
    margin:10px;
    width:200px;
}

#messagesContainer{
    height:80vh;
    overflow-y:auto;
    padding:10px;
}

.message{
    padding:8px;
    border-bottom:1px solid #444;
}

.time{
    font-size:11px;
    margin-left:8px;
    color:gray;
}

.message-input{
    display:flex;
    padding:10px;
}

.message-input input{
    flex:1;
    padding:10px;
}
