body{
    font-family: Arial;
    background:#2b2d31;
    color:white;
}

.message{
    padding:10px;
    border-bottom:1px solid #444;
}

.message-input{
    display:flex;
    padding:10px;
}

input{
    flex:1;
    padding:10px;
}
#loginScreen{
    position:fixed;
    inset:0;
    background:#2b2d31;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#loginScreen input{
    padding:10px;
    margin:10px;
    width:200px;
}
